label: "Field: Checkbox"
rootSchema: true

fields:
  # A checkbox field allows users to enable or disable
  # an option.
  simpleCheckbox:
    type: checkbox

  # You can set check checkboxes by default using the
  # `defaultValue` attribute
  defaultValueCheckbox:
    type: checkbox
    defaultValue: true
---
{% extends '_layouts/default' %}

{% block content %}
  <h1>Checkbox field</h1>
  <p>Checkbox fields expose a <code>boolean</code> value to templates.</p>

  <h2>Rendering</h2>
  <p>Checkboxes expose a boolean value to templates. Use
    them inside conditions.</p>

  {% example %}
    {% if simpleCheckbox %}
      <div class="alert alert-success" role="alert">Option is <strong>enabled</strong></div>
    {% else %}
      <div class="alert alert-danger" role="alert">Option is <strong>disabled</strong></div>
    {% endif %}
  {% endexample %}
{% endblock %}
