label: "Tools: Image tags - Default"
rootSchema: true
fields:
  image: image
---
{% extends '_layouts/default' %}

{% block content %}
  <h1>Image tags: Default</h1>
  <p>The default image tag renderer creates a plain <code>img</code> tag. You can specify
    which attributes should be set on the image tag using the <code>attributes</code>
    config option.</p>
  <p>Attribute values are expanded and you can use a series of variables
    starting with a <code>$</code> (e.g. <code>$src</code> or <code>$width</code>) when
    defining them. Please refer to the documentation for a list of available variables.</p>
  {% example %}
    {{ image.imageTag({
      type: 'default',
      attributes: {
        alt: '$title',
        class: 'figure-img img-fluid rounded',
        height: '$height',
        src: '$src',
        width: '$width',
      }
    }) }}
  {% endexample %}

  <h2>Transforms / srcset</h2>
  <p>You can specify a set of transforms to create a <code>srcset</code> attribute.
    Transforms can either be specified using their handle (when defined in the control
    panel) or an array containing the transform settings.</p>
  {% example %}
    {{ image.imageTag({
      type: 'default',
      attributes: {
        class: 'figure-img img-fluid rounded',
        sizes: '(max-width: 991px) 416px, 696px',
      },
      transforms: [
        { mode: 'crop', width: 416, height: 293 },
        { mode: 'crop', width: 696, height: 489 },
      ]
    }) }}
  {% endexample %}

  <p>By default the width of the transformed image will be used as the descriptor within
    the source set. You can specify custom descriptors by passing them as keys to the
    <code>transforms</code> object.</p>
  <p>The following example creates a source set using pixel density descriptors.</p>
  {% example %}
    {{ image.imageTag({
      type: 'default',
      attributes: {
        class: 'figure-img rounded',
        height: 293,
        width: 416,
      },
      transforms: {
        '1x': { mode: 'crop', width: 416, height: 293 },
        '2x': { mode: 'crop', width: 696, height: 489 },
      }
    }) }}
  {% endexample %}
{% endblock %}
